<html lang="en-gb">
    {% include "head.html" %}
    <body>

        <div class="container main-content">
            
            <form method="POST" action="/verify-input" class="verify-form">
                <h1>Required entry quiz</h1>

                {% if err != None %}
                <div class="error">
                    {% if err == "invalid" %}
                    <strong>Error - incorrect answers</strong>
                    {% elif err == "traitor" %}
                    <strong>Error - TRAITOR</strong>
                    {% endif %}
                </div>

                <br>
                {% endif %}

                <label for="DOB">Your birth day:</label><br>
                <input type="date" name="DOB" id="DOB">

                <br><br>

                <label for="favorite-colleague">The name of your favorite colleague:</label><br>
                <input type="text" name="favorite-colleague" id="favorite-colleague">

                <br><br>

                <button type="submit">Submit</button>
            </form>

        </div>

    </body>
</html>